* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
}

/* NAVBAR */
.navbar {
    background: #00c4e6;
    color: white;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 45px;
}

.brand {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 900;
    line-height: 16px;
}

.nav-links a {
    margin: 0 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-profile{
    font-size: 1.5rem;
}

.menu-btn {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* HERO */
.hero {
    background: url(https://images.unsplash.com/photo-1533473359331-0135ef1b58bf?auto=format&fit=crop&w=1600) center/cover;
    text-align: start;
    padding: 200px 20px;
    color: #fff;
}

.hero h1 {
    font-size: 70px;
    font-weight: 900;
}

.hero h2 {
    font-size: 55px;
    color: #00c4e6;
}

.hero-buttons button {
    margin: 20px 10px;
    padding: 12px 25px;
    background: #00c4e6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
	text-align: right;
}

/* CUSTOMER - DRIVER SECTION */
.cd-section {
    background: #f8f8f5;
    padding: 60px 20px;
}

.cd-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cd-box {
    width: 300px;
}

.cd-title {
    font-size: 32px;
    color: #00c4e6;
    font-weight: 900;
}

.cd-icon {
    width: 55px;
	font-size: 2rem;
    margin: 10px 0 20px;
}

.or {
    font-size: 30px;
    color: #00c4e6;
    font-weight: 900;
    margin-top: 5px;
}

.cd-box ul {
    margin-top: 15px;
    line-height: 22px;
}

.cd-box li {
    margin-bottom: 15px;
}

/* /services/ */
#curr_services{
	color: #0fb8ce;
}
.services {
    padding: 50px 20px;
    text-align: center;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
    margin-top: 30px;
	color: #0fb8ce;
	font-size: 1.2rem;
}
.service-card{
	background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px #ccc;
	cursor: pointer;
}
.service-card:hover{
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}


/* /enqiry/ */
.doubt-text {
    margin: 40px 0;
    font-size: 18px;
    font-weight: bold;
}

.enquire-btn {
    background: #0056ff;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}
.enquiry{
	background: #d4faff;
	padding-top: 5px;
	padding-bottom: 3rem;
	text-align: center;
}
/* CLIENT STORIES */
.stories {
    background: #bdf4ff;
    padding: 60px 20px;
}

.stories h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

.story-grid {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    flex-wrap: wrap;
}

.story {
    width: 280px;
    margin: 20px;
}

/* FOOTER */
.footer {
    background: black;
    color: white;
    padding: 60px 30px;
}

.footer h2 {
    font-size: 30px;
    margin-bottom: 20px;
	text-align: center;
}

.footer-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.footer h4 {
    color: #00d0ff;
    margin-top: 20px;
}

.social-icons {
    font-size: 32px;
}
.social-icons a:hover {
    font-size: 34px;
}
/* RESPONSIVE */
@media (max-width: 820px) {

    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 30px;
        background: #00c4e6;
        padding: 20px;
        border-radius: 10px;
        flex-direction: column;
    }

    .menu-btn {
        display: block;
    }

    .services-wrapper {
        flex-direction: row;
        text-align: center;
    }

    .service-img {
        margin: 20px auto;
    }

    .cd-container {
        flex-direction: column;
        align-items: center;
    }
}