<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    

</head>
<body>
    <div id="mainContainer-outside">
    <div class="outer-container">
        
        <app-driver-common-nav></app-driver-common-nav>

    <h3>Upcoming Rides Requests</h3>
    <div class="inner-container">
        <div class="left-section">
        <button>Hourly Ride</button>
        <span><h4>Rajesh Kumar</h4></span>
        <i class="fa-solid fa-location-dot"></i> Pickup<h4>Andheri West, Mumbai</h4>
        <i class="fa-solid fa-calendar"></i> Date & Time<h4>2025-11-17 at 10:00 AM</h4>
        <i class="fa-regular fa-car-side"></i> Customer's Car<h4> Toyota Innnova-MH 02 AB 1234</h4>
        <i class="fa-solid fa-clock-rotate-left"></i> Duration<h4> 3 hours</h4>
</div>
<div class="right-section">
            <i class="fa-solid fa-location-dot"></i> Drop<h4>Bandra East, Mumbai</h4>
        <i class="fa-solid fa-car-side"></i> Distance<h4>12 km</h4>
        </div>


    </div>
    <div class="Action buttons"> 
        <button class="accept">Accept</button>
        <button class="reject">Reject</button>
    </div>
    </div>
</div>

</body>
</html>