*{
    font-family: Arial, sans-serif;
  
}

body{
    background-color: #dff6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
     height: 100vh;
    margin: 0px;
}

.outer-container{
    background-color: #fff;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
/* box-shadow: 1px 1px 1px 1px red; */
box-shadow: 0px 0px 20px 0.1px rgba(18, 187, 206, 0.3);

    /* height:30rem; */
    /* height: 100vh; */
    /* margin: 0px; */

 }

h3{
    padding: 1rem;
}

.phoneNumber{
    border: 1px solid black;
    border-radius: 1rem;
    text-align: start;
    padding: 0.7rem;

}

span{
    margin: 3px;
}

input[type="text"]{
    width: 90%;
    border: none;
    border-radius: 4px;
    background-color:  white;
    height: 1.8rem;
    outline: none;
}
/* Chrome, Safari, Edge, Opera */
input[type=text]::-webkit-inner-spin-button,
input[type=text]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    border: 1px solid gray;
    border-radius: 1rem;
    font-weight: 600;
    font-size: medium;
    text-align: center;
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
    background-color: #fff;
}

button:hover {
  background: #018496;
  cursor: pointer;
}

.continueBtn{
    background-color: rgb(28, 230, 234);
    border: none;
    color: #fff;
    font-size: large;
}

i{
    margin-right: 1rem;
}
.termsCondition{
    padding-top: 2rem;
}

#backBtn{
    /* border: 2px solid red; */
    position: relative;
    top: 38px;
    right: 25px;
    cursor: pointer;
}