<!DOCTYPE html>
<html>
<head>
   
    <title>Rewards & Achievements</title>
    
    <!-- <link rel="stylesheet" href="rewards.css"> -->

    <!-- <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> -->
</head>
<body>

<div class="outer-container">

    <h2>Rewards & Achievements</h2>

    <div class="inner-container">

        <div class="left-section">
            <p class="label">
                <i class="fa-solid fa-trophy trophy"></i>
                Total Rides Completed
            </p>
            <h3>127 Rides</h3>

            <p class="label">Progress to next milestone</p>

            <div class="progress-bar">
                <div class="progress"></div>
            </div>

            <p class="small-text">
                23 more rides to unlock special bonus!
            </p>
        </div>

        <div class="right-section">
            <p>127/150</p>
        </div>

    </div>


    <h3><i class="fa-solid fa-gift"></i> Earned Coupons (5)</h3>

    
    <div class="coupon-container">

        <div class="left-section">
            <h4>DRIVER50</h4>
            <p class="label">Complete 5 rides reward</p>
        </div>

        <div class="right-section">
            <button class="coupon-btn">₹50 off</button>
        </div>

    </div>

    <div class="coupon-container">

        <div class="left-section">
            <h4>WEEKLY100</h4>
            <p class="label">Weekly milestone bonus</p>
        </div>

        <div class="right-section">
            <button class="coupon-btn">₹100 off</button>
        </div>

    </div>

</div>

</body>
</html>